<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>finishColorVarianceBlue</key>
    <integer>0</integer>
    <key>rotatePerSecondVariance</key>
    <integer>0</integer>
    <key>finishColorBlue</key>
    <integer>1</integer>
    <key>blendFuncDestination</key>
    <integer>1</integer>
    <key>startParticleSize</key>
    <integer>40</integer>
    <key>finishParticleSize</key>
    <integer>0</integer>
    <key>radialAccelVariance</key>
    <integer>0</integer>
    <key>gravityy</key>
    <real>-65.37999725341797</real>
    <key>sourcePositionVariancey</key>
    <integer>0</integer>
    <key>rotatePerSecond</key>
    <integer>0</integer>
    <key>startColorBlue</key>
    <integer>1</integer>
    <key>finishParticleSizeVariance</key>
    <integer>0</integer>
    <key>startColorVarianceBlue</key>
    <integer>0</integer>
    <key>duration</key>
    <real>0.1000000014901161</real>
    <key>emitterType</key>
    <integer>0</integer>
    <key>maxRadiusVariance</key>
    <integer>0</integer>
    <key>rotationStartVariance</key>
    <integer>0</integer>
    <key>speedVariance</key>
    <real>77.97000122070312</real>
    <key>startColorGreen</key>
    <integer>1</integer>
    <key>blendFuncSource</key>
    <integer>770</integer>
    <key>rotationStart</key>
    <integer>0</integer>
    <key>minRadius</key>
    <integer>0</integer>
    <key>sourcePositionx</key>
    <real>150.7299957275391</real>
    <key>finishColorAlpha</key>
    <integer>0</integer>
    <key>startColorRed</key>
    <integer>1</integer>
    <key>angleVariance</key>
    <real>180.3699951171875</real>
    <key>finishColorVarianceGreen</key>
    <integer>0</integer>
    <key>startColorVarianceRed</key>
    <integer>0</integer>
    <key>tangentialAcceleration</key>
    <integer>0</integer>
    <key>finishColorGreen</key>
    <integer>1</integer>
    <key>rotationEnd</key>
    <integer>0</integer>
    <key>maxRadius</key>
    <integer>100</integer>
    <key>finishColorVarianceRed</key>
    <integer>0</integer>
    <key>gravityx</key>
    <integer>0</integer>
    <key>startColorVarianceAlpha</key>
    <integer>0</integer>
    <key>finishColorRed</key>
    <integer>1</integer>
    <key>particleLifespan</key>
    <real>1.176499962806702</real>
    <key>sourcePositionVariancex</key>
    <integer>0</integer>
    <key>finishColorVarianceAlpha</key>
    <integer>0</integer>
    <key>startColorVarianceGreen</key>
    <integer>0</integer>
    <key>tangentialAccelVariance</key>
    <real>106.5</real>
    <key>maxParticles</key>
    <integer>300</integer>
    <key>particleLifespanVariance</key>
    <real>0.4359000027179718</real>
    <key>radialAcceleration</key>
    <real>-181.5399932861328</real>
    <key>rotationEndVariance</key>
    <integer>0</integer>
    <key>sourcePositiony</key>
    <real>199.9299926757812</real>
    <key>angle</key>
    <integer>0</integer>
    <key>startColorAlpha</key>
    <integer>1</integer>
    <key>startParticleSizeVariance</key>
    <integer>20</integer>
    <key>speed</key>
    <integer>315</integer>
    <key>spriteFrameUuid</key>
    <string>cf03ed7d-a21c-4f6a-87c4-1ba2f1ca63c2</string>
  </dict>
</plist>